# Requirements: keys are domain names without protocol (www.australia.gov.au), values are ignored
# script assumes that there will be not very many domain names here (up to 20-30k)
export REDIS_SEEN_ENDPOINT=some.redis.hostname
export REDIS_SEEN_PASSWORD=our-redis-hostname-passw0rd
export REDIS_SEEN_DB=9
