ANALYTICS_ES_ENDPOINT=https://username:password@domainname:port/
ANALYTICS_ES_INDEX_NAME=some-index-name

# needs access both to S3 and SQS
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=YYY

QUEUE_REQUESTS=arn:aws:sqs:ap-southeast-2:ACCOUNTID:QUEUENAME

REDIS_LOCK_ENDPOINT=redis.domain.name
# or comment out that line and make another redis access limit, like whitelisted IP
REDIS_LOCK_PASSWORD=redis.password
REDIS_LOCK_DB=1  # 1 2 3 may be changed, just make sure they are different and nobody else uses it

REDIS_FINISHED_ENDPOINT=...
REDIS_FINISHED_PASSWORD=...
REDIS_FINISHED_DB=2

REDIS_SEEN_ENDPOINT=...
REDIS_SEEN_PASSWORD=...
REDIS_SEEN_DB=3
