# needs access both to S3 and SQS
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=YYY

BUCKET_CONTENTHASH=somebucket-name
BUCKET_EXTRA someotherbucket-name
STREAM_QUALIFIED_URLS=queue-name-a
STREAM_VERIFIED_RAW=queue-name-b
STREAM_VERIFIED_TEXTRACT=queue-name-c
STREAM_VERIFIED_BS4=queue-name-d
STREAM_VERIFIED_GOOSE=queue-name-e
AWS_REGION=ap-southeast-2
ES_URL=https://username:password@domainname:port/
KINESIS_FETCH_LIMIT=100
SHARD_ITERATOR_TYPE=LATEST
#SHARD_ITERATOR_TYPE=TRIM_HORIZON
